.formContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.button {
   background-color: #2a374d;
   border: 0 solid #e2e8f0;
   border-radius: 7px;
   box-sizing: border-box;
   color: #ffffff;
   cursor: pointer;
   display: inline-block;
   font-size: 1.1rem;
   line-height: 1;
   padding: .5rem 1rem;
   text-align: center;
   text-decoration: none #3b485d solid;
   text-decoration-thickness: auto;
   transition: all .1s cubic-bezier(.4, 0, .2, 1);
   box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.button:hover {
    background-color: #3b485d;
    color: #fff;
}

.button:disabled,
.button[disabled]{
    background-color: #cccccc;
    color: #9f9c9c;
}

.input:focus {
    outline: none!important;
    border-color: #3b485d;
    box-shadow: 0 0 0 0;
}

.fromWrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 832px;
}

.loading {
    border-radius: 100%;
    right: 6px;
    top: 50%;
    width: 0;
    height: 0;
    margin-top: -2px;
    border: 2px solid rgba(255,255,255,0.5);
    border-left-color: #FFF;
    border-top-color: #FFF;
    animation: spin .6s infinite linear, grow .3s forwards ease-out;
}
@keyframes spin {
    to {
        transform: rotate(359deg);
    }
}
@keyframes grow {
    to {
        width: 16px;
        height: 16px;
    }
}



@media (max-width: 768px) {
    .button {
        font-size: 1.125rem;
    }
    .formContainer {
        flex-direction: column;
        gap: 16px;
    }
}