.footer {
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pt2 {
        padding-top: 8px;
    }
}