.videoResponsive {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videoResponsive iframe {
    margin-top: 24px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}